/**
 * MIXINS
 * --------------------------------------------------------------------------
 * Author      : Setor7g - Fernando Jesus
 * Contact     : setor7g@setor7g.com.br / +55 11 984.759.151
 * --------------------------------------------------------------------------*/


// Clearfix -- @extend %clearfix;
// ==========================================================================
@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}


// set the vertical baseline height -- @include baseline-font-size(VALUE);
// ==========================================================================
@mixin baseline-font-size($size) {
  $context: 10;
  font-size: #{($size / $context)}em;
  line-height: #{($base-line / $size)}em;
}


// CSS3 Border Radius -- @include border-radius(VALUE);
// ==========================================================================
@mixin border-radius($radius: 1px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}


// Opacity -- @include opacity(VALUE);
// ==========================================================================
@mixin opacity($opacity : .5) {
  -webkit-opacity : $opacity;
     -moz-opacity : $opacity;
          opacity : $opacity;
}


// CSS3 Transition -- @include transition(all, 0.3s, ease-in-out);
// ==========================================================================
@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}