//CART
.woocommerce #content table.cart img,
.woocommerce table.cart img,
.woocommerce-page #content table.cart img,
.woocommerce-page table.cart img {
  max-width: 80px;
}

.woocommerce {
  .summary form,
  .product-quantity {
    .quantity {
      padding: 0;
      position: relative;
      height: 16px;

      .input-text {
        border: none !important;
        float: left;
        border: none;
        width: 44px !important;
        min-width: 44px !important;
        padding: 0;
        line-height: 16px;
        text-align: center;
      }

      .product_quantity_minus,
      .product_quantity_plus {
        float: left;
        width: 16px;
        height: 16px;
        display: inline-block;
        color: white;
        background: #b0dadf;
        font-size: 14px;
        cursor: pointer;
        line-height: 16px;
        text-align: center;
        font-weight: 600;
        @include transition(all, 0.3s, ease);

        &:hover {
          background: #3c93a2;
        }
      }

      .product_quantity_minus {
        line-height: 14px;
      }

      .qty {
        display: inline-block;
        height: 16px;
        vertical-align: top;
      }
    }
  }

  .summary form {
    .quantity {
      .input-text {
        line-height: 31px;
        height: 31px;
      }

      .product_quantity_minus,
      .product_quantity_plus {
        font-size: 16px;
        line-height: 31px;
        width: 31px;
        height: 31px;
      }
    }
  }
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button .woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background: #b0dadf;
  padding: 0.618em 1em !important;
  font-size: 14px !important;
  color: #fff;
  @include transition(all, 0.3s, ease);

  &:hover {
    background: #3c93a2;
    color: #fff;
  }
}

// MY ACOUNT
.woocommerce-MyAccount-navigation {
  ul {
    list-style: none;

    li {
      border-top: 1px solid #d2d2d2;

      &:first-child {
        border: none;
      }

      a {
        display: block;
        padding: 1.2em 0 0.8em;
        color: #000;
        text-decoration: none;
      }
    }
  }
}

.woocommerce {
  section.products {
    clear: both;
    padding-top: 50px;

    ul {
      margin: 0;
      padding-top: 10px;
    }
  }

  #e_deliverydate_field {
    margin-bottom: 40px;
  }

  .cart-collaterals .cross-sells ul.products,
  .cart-collaterals .cross-sells ul.products,
  ul.products[class*="columns-"],
  ul.products {
    list-style: none;
    margin-top: 30px;
    padding-top: 0;

    li.product {
      margin: 18px 0;
      width: 100%;
      background: #fafafa;
      border-bottom: 2px solid #3c93a2;
      padding-bottom: 16px;
      @include transition(all, 0.3s, ease);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      &:hover {
        border-color: #104952;
      }

      a {
        display: block;
        text-align: center;
        text-decoration: none;

        &:first-child {
          width: 100%;
        }
      }

      .price {
        color: #000;
        display: block;
        font-size: 12px;
        margin: 6px 0;
      }

      .button {
        background: #80c6d2;
        color: #fff;
        display: inline-block;
        font-size: 14px !important;
        font-weight: 700;
        line-height: 16px;
        padding: 3px 6px !important;
        @include transition(all, 0.3s, ease);
        margin: 1em 10px 0;
        height: 22px;

        &:hover {
          background: #3c93a2;
          color: #fff;
        }
      }

      img {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 16px;
      }

      h2 {
        color: #000;
        font-size: 14px !important;
        padding: 0 8px !important;
        min-height: 40px;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        margin-top: 12px !important;
      }

      h3 {
        color: #6c6868;
        font-size: 14px;
        text-transform: uppercase;
      }

      mark {
        display: none;
      }

      &.type-product {
        font-size: 12px;
        text-align: center;

        img {
          margin-bottom: 10px;
        }

        h3 {
          font-size: 12px;
          line-height: 16px;
          text-transform: none;
          margin-bottom: 19px;
        }
      }
    }

    &.kit-festa {
      li {
        @include clearfix();
        width: 100%;
        margin: 36px 0 0;

        &:first-child {
          margin-top: 0;
        }

        .content-txt {
          margin-top: 20px;
          text-align: left;

          p {
            margin: 0;
          }
        }
      }
    }
  }

  a {
    color: #3c93a2;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .woocommerce-terms-and-conditions {
    margin-top: 1.618em;
  }

  form {
    p#account_password_field {
      float: none;
    }
  }

  .woocommerce-thankyou-order-received {
    display: block;
    text-align: center;
    line-height: 24px;
    margin-bottom: 60px;

    img {
      display: inline-block;
      width: 60px;
      height: auto;
      margin-top: 10px;
    }
  }

  .woocommerce-customer-details {
    padding-top: 20px;

    h2 {
      margin-bottom: 20px;
    }
  }

  .order_details {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 40px;

    li {
      margin: 0;
      width: 25%;
      padding: 0 2em;

      &:first-child {
        padding: 0;
      }
    }

    &.woocommerce-table--order-details {
      padding-top: 0;
    }
  }

  table.shop_table {
    margin-top: 20px;

    & + h2 {
      padding-top: 30px;

      & + p {
        margin-top: 20px;
      }
    }
  }

  .woocommerce-input-wrapper {
    display: block;
    position: relative;

    .selection {
      display: block;
    }

    .select2-container {
      width: 100% !important;
      height: 37px;

      .select2-selection--single {
        border: 1px solid #6c6868 !important;
        height: 37px;
      }
    }
  }

  .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    line-height: 35px;
    color: #000;
  }

  .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 35px;
  }
}

.ui-datepicker table,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-size: 12px !important;
  // * {
  // }
}

.woocommerce ul#shipping_method li {
  @include clearfix();
  padding-left: 0;

  input {
    width: auto;
    float: left;
    min-width: auto;
  }

  label {
    overflow: hidden;

    small {
      display: block;
      text-indent: 20px;
    }
  }
}

.woocommerce .cart-collaterals,
.woocommerce-page .cart-collaterals {
  .cross-sells,
  .cart_totals {
    width: 100%;
  }

  .cross-sells {
    margin-bottom: 30px;
  }

  .cart_totals {
    h2 {
      margin-bottom: 40px;
    }
  }
}

.selection {
  display: block;

  .select2-selection.select2-selection--single {
    width: 100% !important;
    height: 37px;
    border: 1px solid #6c6868 !important;
  }
}

/****************CHECKOUT***************/
.woocommerce-checkout #payment div.payment_box input.input-text,
.woocommerce-checkout #payment div.payment_box textarea {
  width: 100% !important;
  padding: 8px;
}
.woocommerce #payment .form-row select,
.woocommerce-page #payment .form-row select {
  width: 100%;
  height: 30px;
}

.woocommerce .woocommerce-checkout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & > * {
    width: 100%;

    .col-1,
    .col-2 {
      float: none;
      width: 100%;
    }
  }

  h3 {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 50px;
  }
}

#wc_checkout_add_ons {
  width: 45%;
  float: right;
  text-align: center;
}

.wc-proceed-to-checkout {
  display: flex;
  justify-content: flex-end;
}

.woocommerce div.product .woocommerce-tabs .panel {
  h2 {
    margin-bottom: 24px;
  }
}

.woocommerce div.product {
  form.cart {
    .variations {
      margin-bottom: 1rem;

      td {
        padding: 0.2rem 0;
      }
    }

    div.quantity {
      margin-right: 16px;
    }
  }

  p.stock {
    margin: 0 0 1em;
  }

  .product_meta {
    display: flex;
    flex-direction: column;
  }

  .single_variation_wrap {
    .single_variation {
      margin-bottom: 1rem;
    }
  }

  div.summary {
    h1 {
      line-height: 1.4;
      margin: 1rem 0;
    }

    .price {
      color: #000;
      margin-bottom: 1rem;
    }

    .woocommerce-product-details__short-description {
      margin-bottom: 1rem;
    }
  }
}

.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
  width: 100%;
}

.woocommerce form .form-row-hide {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled]:hover {
  background: #80c6d2;
  color: #fff;

  &:hover {
    background: #3c93a2;
    color: #fff;
  }
}

@media screen and (min-width: 980px) {
  .woocommerce form .form-row-first,
  .woocommerce form .form-row-last,
  .woocommerce-page form .form-row-first,
  .woocommerce-page form .form-row-last {
    width: calc(50% - 10px);
  }

  .woocommerce {
    form.woocommerce-checkout {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout {
        width: 100%;
      }
    }

    .cart-collaterals .cross-sells ul.products,
    .cart-collaterals .cross-sells ul.products,
    ul.products[class*="columns-"],
    ul.products {
      display: flex;
      flex-wrap: wrap;

      li.product {
        width: calc(100% / 4 - 22.6px);
        margin-right: 30px;

        &:nth-child(4n) {
          margin-right: 0;
        }
      }

      &.kit-festa {
        li {
          @include clearfix();
          width: 100%;
          margin: 36px 0 0;

          &:first-child {
            margin-top: 0;
          }

          .content-img {
            float: left;
            width: 21.88%;
          }

          .content-txt {
            float: left;
            padding-left: 40px;
            text-align: left;
            width: 78.12%;

            p {
              margin: 0;
            }
          }
        }
      }
    }

    .woocommerce-thankyou-order-received {
      display: block;
      text-align: center;
      line-height: 24px;
      margin-bottom: 60px;

      img {
        display: inline-block;
        width: 60px;
        height: auto;
        margin-top: 10px;
      }
    }

    .woocommerce-MyAccount-navigation {
      width: 21%;
    }

    .woocommerce-MyAccount-content {
      width: 75%;
    }
  }
}

@media screen and (max-width: 768px) {
  .woocommerce table.shop_table_responsive tr td::before,
  .woocommerce-page table.shop_table_responsive tr td::before {
    margin-right: 10px;
  }

  .woocommerce table.shop_table_responsive tr td,
  .woocommerce-page table.shop_table_responsive tr td {
    #shipping_method {
      text-align: left !important;
      clear: both;
      padding-top: 10px;
    }

    .woocommerce-shipping-destination,
    .woocommerce-shipping-calculator {
      text-align: left !important;
    }

    .woocommerce-shipping-calculator {
      margin-top: 10px;
    }
  }
}
